body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: #ddd;
    font-family: Lato, sans-serif;
}

form {
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 1em;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: center;
    padding: 0.3em;
    border: solid 2px #000;
}

.input::placeholder {
    color: #aaa;
}

.btn {
    display: block;
    border: none;
    padding: 1em;
    width: 100%;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(.8);
}

.score {
    font-size: 18px;
    text-align: right;
    color: orangered;
}